name: Github Actions Variables and Secrets
on: [push]
env:
  DOCKER_USER: hemiactions
  CONTAINER_REGISTRY: docker.io
  IMAGE_NAME: hemiactions
jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: "Docker build"
        run: echo docker build -t ${{ env.CONTAINER_REGISTRY }}/${{ env.DOCKER_USER }}/${{ env.IMAGE_NAME }}:latest .

  docker-push:
    runs-on: ubuntu-latest
    needs: docker-build
    steps:
      - name: "Docker login"
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: "Docker push"
        run: docker push ${{ env.CONTAINER_REGISTRY }}/${{ env.DOCKER_USER }}/${{ env.IMAGE_NAME }}:latest
